a {
    text-decoration: none;
  }

  /* CARDS */
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 1%;
  }
  
  .card-body2 {
    padding: 3%;
    color: var(--primary);
    background-color: var(--dark);
    font-size: 1rem;
    margin: 10px;
  }